body {
  font-family: 'Arial', sans-serif;
  color: #0a0a23;
  background: #f7c731;
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  display: flex; 
  flex-direction: column;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7c731;
  color: #0a0a23;
}

.intro {
  max-width: 50%;
}

.name {
  color: #0a0a23;
}

.photo img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid #a29bfe;
}

.navbar {
  text-align: center;
  padding: 30px;
  background-color: #1b1b38;
}

.nav-link {
  color: #f7c731;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.nav-link:hover {
  color: #a29bfe;
}

.overview, .contact {
  padding: 40px;
  text-align: center;
  color: #0a0a23;
  background: white;
  margin: 20px 0;
  border-radius: 10px;
}

.skills {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.skill {
  text-align: center;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill progress {
  width: 80%; 
  height: 15px; 
  margin-bottom: 5px; /* Add some space between the progress bar and the text */
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact {
  padding: 40px;
  text-align: center;
  background-color: #f7c731;
  color: #0a0a23;
  border-radius: 10px;
}

.contact-links a {
  color: #0a0a23;
  text-decoration: none;
  font-size: 1.2em;
}

.contact-links a:hover {
  color: #6c5ce7;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #1b1b38;
  color: white;
  margin-top: auto;
}
